{{- if .Site.Params.widgets.recent_articles }}
<div class="widget-recent widget">
	<h4 class="widget__title">Recent Posts</h4>
	<div class="widget__content">
		<ul class="widget__list">
			{{- $recent_articles_num := (.Site.Params.widgets.recent_articles_num | default 10) }}
			{{- range first $recent_articles_num (where (where .Site.RegularPages "Params.hidden" "ne" "true") "Section" "in" (.Site.Params.postSections | default (slice "post"))) }}
			<li class="widget__item"><a class="widget__link" href="{{ .RelPermalink }}">{{ .Title }}</a></li>
			{{- end }}
		</ul>
	</div>
</div>
{{- end }}
