{{- if .Site.Params.authorbox }}
<div class="authorbox clearfix">
	{{- if and (not .Site.Author.avatar) (not .Site.Author.name) (not .Site.Author.bio) }}
	<p class="authorbox__warning"><strong>WARNING:</strong> Authorbox is activated, but [Author] parameters are not specified.</p>
	{{- end }}
	{{- with .Site.Author.avatar }}
	<figure class="authorbox__avatar">
		<img alt="{{ $.Site.Author.name }} avatar" src="{{ $.Site.Author.avatar | relURL }}" class="avatar" height="90" width="90">
	</figure>
	{{- end }}
	{{- with .Site.Author.name }}
	<div class="authorbox__header">
		<span class="authorbox__name">About {{ . }}</span>
	</div>
	{{- end }}
	{{- with .Site.Author.bio }}
	<div class="authorbox__description">
		{{ . | markdownify}}
	</div>
	{{- end }}
</div>
{{- end }}