{{- if .Site.Params.post_navigation }}
{{- if or (.PrevInSection) (.NextInSection) }}
<nav class="post-nav row clearfix" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
	{{- if .PrevInSection }}
	<div class="post-nav__item post-nav__item--prev col-1-2">
		<a class="post-nav__link" href="{{.PrevInSection.RelPermalink}}" rel="prev"><span class="post-nav__caption">«Previous</span><p class="post-nav__post-title">{{.PrevInSection.Title}}</p></a>
	</div>
	{{- end }}
	{{- if .NextInSection }}
	<div class="post-nav__item post-nav__item--next col-1-2">
		<a class="post-nav__link" href="{{.NextInSection.RelPermalink}}" rel="next"><span class="post-nav__caption">Next»</span><p class="post-nav__post-title">{{.NextInSection.Title}}</p></a>
	</div>
	{{- end }}
</nav>
{{- end }}
{{- end }}
