<div class="post__tags tags clearfix">
<ul class="tags__list">
	<li class="tags__item"><a class="tags__link" href="http://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}&tw_p=tweetbutton" title="Share in Twitter" target="_blank" rel="nofollow"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
	<li class="tags__item"><a class="tags__link" href="https://www.linkedin.com/shareArticle?url={{ .Permalink }}&mini=true&title={{ .Title }}&summary={{ .Description }}&source=o365blog.com" title="Share in LinkedIn" target="_blank" rel="nofollow"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
</ul>
</div>